{% extends 'layouts/agenda.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}Agenda | {{ tarefa.nome}} {% endblock %}
{% block conteudo %}
<!DOCTYPE html>
<html>
<body>
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h3 class="m-0 font-weight-bold text-primary">{{ tarefa.nome }}</h3>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Opções:</div>
                            <a class="dropdown-item" href="{% url 'url_updateTarefa' tarefa.codigo %}">Editar</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#">Excluir</a>
                        </div>
                    </div>
                </div>

                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="w-50 m-1 p-0 col">
                            <div class="card bg-primary text-white shadow mb-2">
                                <div class="card-body">
                                    {%if tarefa.materia != None %}
                                    <div class="text-white-50 small"><b> Matéria: </b></div>
                                    {{ tarefa.materia }}
                                    {% endif %}
                                    <div class="text-white-50 small"><b> Descrição: </b></div>
                                    {{ tarefa.descricao }}
                                </div>
                            </div>
                            {%if tarefa.arquivo %}
                                <div class="card bg-success text-white shadow">
                                    <div class="card-body">
                                        <div class="text-white-50 small"><b>  Arquivo vinculado: </b></div>
                                        <a href="{% url 'url_index' %}media/{{tarefa.arquivo}}" target="_blank" class="text-white">{{ tarefa.arquivo }}</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <div class="card border-left-warning shadow h-100 py-2 w-50 m-1 col">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Status: </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{%if tarefa.status == 'AFA' %}A fazer{% elif tarefa.status == 'AND' %}Em andamento{% elif tarefa.status == 'FIN' %}Finalizada{% endif %}</div>
                                        <hr>
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Data de Conclusão: </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"><i class="fas fa-calendar"></i>&nbsp;{{ tarefa.dataConclusao }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'url_inicio' %}"> Voltar a minhas tarefas </a>
        </div>
    </div>
</body>
</html>
{% endblock %}