<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda | Início</title>
</head>
<body>
    <h1>Aqui está sua agenda! 📔</h1><br>
    <table>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Data para Conclusão</th>
            <th>Status</th>
            <th>Matéria</th>
        </tr>
        {% for i in tarefas%}
        <tr>
            <td>{{ i.nome }}</td>
            <td>{{ i.descricao }}</td>
            <td>{{ i.dataConclusao }}</td>
            <td>{{ i.status }}</td>
            <td>{{ i.materia }}</td>
            <td>
                <a href="{% url 'url_updateTarefa' i.codigo %}"><button> Editar </button></a>
                <a href="{% url 'url_deleteTarefa' i.codigo %}"><button> Excluir </button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'url_formTarefa' %}">Adicionar tarefa</a>
    <br>
    <a href="{% url 'url_sair' %}">fazer logoff</a>
</body>
</html>