{% extends 'layouts/login.html' %}
{% block conteudo %}
{% load static %}
<html lang="pt-br">
<head>
    <title>Agenda | Login</title>
</head>
<body class="">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Login</h1>
    </div>
    <form method="post" class="user">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" id="email" name="username" class="form-control form-control-user" placeholder="Email ou usuario" required>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" class="form-control form-control-user" placeholder="Senha" required>
        </div>
        {% if messages %}
            {% for message in messages %}
                <p class="text-danger text-center">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <input type="submit" id = "submit-button" class="btn btn-primary btn-user btn-block" value="Entrar">
    </form>
    <hr>
    <div class="text-center"><a class="small" href="register.html">Não possui uma conta? Cadastre-se aqui!</a></div>
</body>
</html>
{% endblock %}
