{% extends 'layouts/agenda.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}Agenda | Matérias {% endblock %}
{% block conteudo %}
<!DOCTYPE html>
<body>
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Suas Matérias: 📔<br></h1>
            <a href="{% url 'url_formMateria' %}" class="d-none d-sm-inline-block btn btn-primary shadow-sm"><i class="fas fa-plus"></i> Nova Matéria&nbsp;</a>
        </div>

    </div>
    <section class="category-section">
        <div id="content-wrapper" class="d-flex flex-column">
            <div class="content">
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive"> 
                                <table class="table table-bordered">
                                    <thead>
                                        <th>Matéria</th>
                                        <th>Horário de aula</th>
                                        <th>Ações</th>
                                    </thead>
                                    {% for i in materias%}
                                    <tr>
                                        <td>{{ i.nome }}</td>
                                        <td>{{ i.horario }}</td>
                                        <td>
                                            <a href="{% url 'url_deleteMateria' i.codigo %}" class="text-decoration-none"><button class="btn btn-circle btn-danger text-white"><i class="fas fa-trash btn-lg"></i></button></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}